# End-to-End framework: from original DF to DF with embs and labels

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
plt.rcParams["figure.figsize"] = [20,10]
from NetEmbs.DataProcessing.connect_db import *
d = upload_data("Simulation/FSN_Data.db", limit=1000)
d.head(4)

   ID       Name  FA_Name       Value
2   2  Revenue_5  Revenue -788.000000
3   2      Tax_5      Tax  -47.132907
4   2   ixsros_5   ixsros    0.003332
5   2   jlgnur_5   jlgnur    1.406287

In [6]:
from NetEmbs.DataProcessing import *
journal_entries = None
if journal_entries is None:
    d = prepare_data(d)
else:
    YOUR_DATAFRAME = pd.DataFrame.from_dict(journal_entries)
    YOUR_DATAFRAME.columns = ['ID', 'FA_Name', 'Debit', 'Credit']
    d = prepare_data(YOUR_DATAFRAME, split=False)
d.head(4)

,ID,Signature,FA_Name,Debit,Credit,from
0,2,"([('Revenue', 0.94356), ('Tax', 0.05644)], [('...",Revenue,0.000000,0.943562,True
1,2,"([('Revenue', 0.94356), ('Tax', 0.05644)], [('...",Tax,0.000000,0.056438,True
2,2,"([('Revenue', 0.94356), ('Tax', 0.05644)], [('...",TradeReceivables,0.990561,0.000000,False
3,2,"([('Revenue', 0.94356), ('Tax', 0.05644)], [('...",aofere,0.001368,0.000000,False