In [1]:
import pandas as pd
import numpy as np

In [5]:
DB_PATH = "Simulation/FSN_Data_5k.db"

In [3]:
from NetEmbs.utils.IO.db_connection import upload_data, upload_journal_entries
from NetEmbs.DataProcessing import *

In [6]:
data = upload_data(DB_PATH, limit=1000)

In [7]:
d = data_preprocessing(data)

In [7]:
from NetEmbs import *
GLOBAL_FSN = FSN()
GLOBAL_FSN.build(d, left_title="FA_Name")

In [35]:
fin_walk = finWalk(GLOBAL_FSN)

In [10]:
pd.read_csv("tests/DataProcessing/data/sample.csv", delimiter=";").fillna(0.0).to_dict()

{'ID': {0: 1, 1: 1, 2: 1, 3: 2, 4: 2},
 'Name': {0: 'Trade Receivables',
  1: 'Revenue',
  2: 'Tax',
  3: 'Cost of Sales',
  4: 'Inventories'},
 'Journal': {0: 'Sales ledger',
  1: 'Sales ledger',
  2: 'Sales ledger',
  3: 'Journal ledger',
  4: 'Journal ledger'},
 'Date': {0: '01/01/2017',
  1: '01/01/2017',
  2: '01/01/2017',
  3: '01/01/2017',
  4: '01/01/2017'},
 'Debit': {0: 121.0, 1: 0.0, 2: 0.0, 3: 80.0, 4: 0.0},
 'Credit': {0: 0.0, 1: 100.0, 2: 21.0, 3: 0.0, 4: 80.0}}

In [11]:
pd.DataFrame(data={'ID': {0: 1, 1: 1, 2: 1, 3: 2, 4: 2},
 'Name': {0: 'Trade Receivables',
  1: 'Revenue',
  2: 'Tax',
  3: 'Cost of Sales',
  4: 'Inventories'},
 'Journal': {0: 'Sales ledger',
  1: 'Sales ledger',
  2: 'Sales ledger',
  3: 'Journal ledger',
  4: 'Journal ledger'},
 'Date': {0: '01/01/2017',
  1: '01/01/2017',
  2: '01/01/2017',
  3: '01/01/2017',
  4: '01/01/2017'},
 'Debit': {0: 121.0, 1: 0.0, 2: 0.0, 3: 80.0, 4: 0.0},
 'Credit': {0: 0.0, 1: 100.0, 2: 21.0, 3: 0.0, 4: 80.0}})

   ID               Name         Journal        Date  Debit  Credit
0   1  Trade Receivables    Sales ledger  01/01/2017  121.0     0.0
1   1            Revenue    Sales ledger  01/01/2017    0.0   100.0
2   1                Tax    Sales ledger  01/01/2017    0.0    21.0
3   2      Cost of Sales  Journal ledger  01/01/2017   80.0     0.0
4   2        Inventories  Journal ledger  01/01/2017    0.0    80.0